* {
  box-sizing: border-box;
}
body {
  margin-left: 40px;
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin-top: 50px;
}
.nav-list {
  font-size: 0;
  margin-top: 30px;
  display: flex;
}
.list-item {
  border: 1px solid #3c805b;
  background-color: #47986d;
  color: white;
  font-size: 16px;
  position: relative;
}
.link {
  display: inline-block;
  padding: 15px 40px;
  width: 100%;
  text-align: center;
}
.sub-nav-list {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
}
.cell-width {
  flex: 1;
  max-width: 10%;
}
.list-item:hover > .sub-nav-list {
  display: block;
}
.list-item:hover {
  background-color: #3c805b;
}
.sub-nav-item {
  display: block;
}
.sub-sub-nav-list {
  position: absolute;
  display: none;
  flex: 1;
  width: 105%;
}
.list-item:hover > .sub-sub-nav-list {
  display: block;
  left: 100%;
  top: 0%;
}
